.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-create-product {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  height: 250px;
}