/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.red {
    color: #fb2b2b;
}

.blue {
    margin-right: 15px;
    color: rgb(115, 235, 131);
}

i {
    cursor: pointer;
}

.v-meddle {
    vertical-align: middle;
}

.msg-success {
    background-color: #28a745;
    color: white
}

.msg-error {
    background-color: #b62c2c;
    color: white;
}